#main form div{
    background-color: rgb(255, 231, 200);
    margin-bottom: 25px;
    text-align: left;
    padding: 15px;
}
#main form div .imageInput{
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: none;
    width: 100%;
    margin: 0;
}